<div id="userLayout"  :class="['user-layout-wrapper', device]">
    <div class="container">
        <div class="top">
            <div class="header">
                <a href="/">
                    <span class="title">贝易付商户中心</span>
                </a>
            </div>
            <div class="desc">贝易付 - 专注个人支付</div>
        </div>
        <div class="footer">
            <div class="links">
                <a href="https://beiyifu.cn">首页</a>
                <a href="https://beiyifu.cn">API文档</a>
                <a href="https://beiyifu.cn">常见问题</a>
            </div>
            <div class="copyright">
                Copyright &copy; 2020 贝易付
            </div>
        </div>
    </div>
</div>