
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                <div class="fill" style="background-image:url('http://bg.fh.com?text=random&color=3498db');"></div>
                <div class="carousel-body">
                    <div class="container">
                        <h1 class="display-1 text-white">CMS插件</h1>
                        <h2 class="display-4 text-white">简单强大的内容管理系统，可自定义内容模型、标签、伪静态、区块、个性化模板等功能<br >包含完整的小程序CMS客户端,拥有完善的资讯模块、产品模块、评论模块、会员模块</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                <div class="fill" style="background-image:url('http://bg.fh.com?text=random&color=2ecc71');"></div>
                <div class="carousel-body">
                    <div class="container">
                        <h1 class="display-1 text-white">简单博客</h1>
                        <h2 class="display-4 text-white">响应式博客插件，包含日志、评论、分类、归档，包含完善的后台管理和前台功能<br />包含完整的小程序博客客户端,拥有博客日志列表、日志详情、评论等功能</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="https://www.fastadmin.net/store/docs.html" target="_blank">
                <div class="fill" style="background-image:url('http://bg.fh.com?text=random&color=9c88ff');"></div>
                <div class="carousel-body">
                    <div class="container">
                        <h1 class="display-1 text-white">Markdown文档生成插件</h1>
                        <h2 class="display-4 text-white">将Github或本地Git环境中的Markdown文件解析并生成HTML，可在线浏览或导出为HTML离线浏览</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="https://www.fastadmin.net/store/pay.html" target="_blank">
                <div class="fill" style="background-image:url('http://bg.fh.com?text=random&color=e66767');"></div>
                <div class="carousel-body">
                    <div class="container">
                        <h1 class="display-1 text-white">个人收款插件</h1>
                        <h2 class="display-4 text-white">提供微信、支付宝个人收款功能，免备注，实时通知和回调，可快速接入FastAdmin或自有订单系统</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                基础模块
            </h2>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-user"></i> 前台模块</h4>
                </div>
                <div class="panel-body">
                    <p>FastAdmin有基础的前台模块，可快速的进行二次开发，前台模块中包含基础的会员模块，前台模块中的会员账号和API模块中的会员账号是同一账号体系</p>
                    <a href="{:url('index/index/index')}" target="_blank" class="btn btn-primary">立即访问</a>
                    <a href="{:url('index/user/index')}" target="_blank" class="btn btn-default">会员中心</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> API模块</h4>
                </div>
                <div class="panel-body">
                    <p>FastAdmin有基础的API模块，可快速的进行二次开发，API模块中包含基础的会员模块，初始化模块、短信发送模块、验证模块</p>
                    <a href="{:url('api/index/index')}" target="_blank" class="btn btn-primary">立即访问</a>
                    <a href="{:url('api/common/init')}?version=1.0.0" target="_blank" class="btn btn-default">初始化接口</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> API文档</h4>
                </div>
                <div class="panel-body">
                    <p>我们提供了一键生成API文档的功能，当写完API接口以后，可通过执行php think api一键生成我们所需要的API文档，并且可以直接在线测试</p>
                    <a href="{:url('/')}api.html" target="_blank" class="btn btn-primary">立即访问</a>
                    <a href="https://doc.fastadmin.net/docs/command.html#一键生成API文档" target="_blank" class="btn btn-default">一键生成文档</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                功能示例
            </h2>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> 使用模板标签和变量</h4>
                </div>
                <div class="panel-body">
                    <p>在FastAdmin插件的视图中我们可以像前后台开发一样，向视图中渲染我们的自定义变量，然后在视图中进行访问。同时FastAdmin的插件视图中支持所有ThinkPHP5官方的系统模板标签和变量。轻轻松松的开发我们的插件</p>
                    <a href="{:addon_url('example/demo/index',[':name'=>'s1'])}" class="btn btn-success">查看示例</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> 访问不需要登录的页面</h4>
                </div>
                <div class="panel-body">
                    <p>在开发的过程有许多页面是不需要会员登录就可以访问的页面，比如新闻列表、新闻详情、评论列表、产品列表、产品展示、关于我们等等页面。在FastAdmin中可以使用noNeedLogin很方便的控制我们请求方法的访问权限</p>
                    <a href="{:addon_url('example/demo/demo1',[':name'=>'s2'])}" class="btn btn-success">立即访问</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> 访问需要登录的页面</h4>
                </div>
                <div class="panel-body">
                    <p>通常我们在开发中，如果页面与会员信息相关联，则通常需要控制页面在会员登录后才可以访问，FastAdmin中前台的权限控制可以很快捷的在插件中使用。我们可以直接重新定义noNeedLogin排除我们不需要登录的方法即可。</p>
                    <a href="{:addon_url('example/demo/demo2',[':name'=>'s3'])}" class="btn btn-success">立即访问</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row addonlist">
        <div class="col-lg-12">
            <h2 class="page-header">模块&插件</h2>
        </div>

        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/blog.png" alt="">
                <p>博客模块</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/cms.png" alt="">
                <p>CMS模块</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/pay.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/pay.png" alt="">
                <p>个人微信支付宝收款</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/docs.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/docs.png" alt="">
                <p>文档生成模块</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/filemanager.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/filemanager.png" alt="">
                <p>文件管理器插件</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.fastadmin.net/store/qiniu.html" target="_blank">
                <img class="img-responsive img-addon img-hover" src="https://cdn.fastadmin.net/uploads/addons/qiniu.png" alt="">
                <p>七牛上传插件</p>
            </a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>感谢你对FastAdmin的支持！如果你在使用FastAdmin开发插件的过程中有任何疑问或需要寻求帮助，请前往FastAdmin交流社区与小伙伴们一起交流。</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="https://forum.fastadmin.net" target="_blank">立即前往社区</a>
            </div>
        </div>
    </div>

    <hr>

</div>